body {
  margin: 0;
}

.container {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0px;
    margin: 0;
  }
}

section.welcome .welcome-washington {
  margin-top: 160px;
}

@media screen and (max-width: 1024px) {
  section.welcome .welcome-washington {
    margin: 0;
  }
}

section.welcome .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  section.welcome .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section.welcome .content .text {
  padding: 0 32px;
}

@media screen and (max-width: 1024px) {
  section.welcome .content .text {
    padding: 32px;
  }
}

@media screen and (max-width: 767px) {
  section.welcome .content .text {
    padding: 24px;
  }
}

section.welcome .content .text .heading {
  font-size: 20px;
  color: #436d82;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  margin-top: 0px;
}

section.welcome .content .text h2 {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  section.welcome .content .text h2 {
    font-size: 32px;
  }
}

section.welcome .content .text .welcome-para {
  font-size: 20px;
  color: #505050;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  section.welcome .content .text .welcome-para {
    font-size: 16px;
  }
}

section.welcome .content .text .welcome-button {
  font-size: 16px;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  border: solid 2px #773165;
  color: #773165;
  padding: 10px 35px;
  font-weight: bold;
}

section.welcome .content .text .welcome-button:hover {
  background-color: #773165;
  color: #ffffff;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

@media screen and (max-width: 767px) {
  section.welcome .content .text .welcome-button {
    font-size: 14px;
    padding: 8px 20px;
  }
}

section.welcome .content .image {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  section.welcome .content .image {
    width: 100%;
    height: 100%;
  }
}

section.featured .featured-event {
  margin: 160px 0;
}

@media screen and (max-width: 1024px) {
  section.featured .featured-event {
    margin: 0;
  }
}

section.featured .featured-event .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media screen and (max-width: 1024px) {
  section.featured .featured-event .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section.featured .featured-event .content .featured-slider {
  width: 65%;
}

@media screen and (max-width: 1024px) {
  section.featured .featured-event .content .featured-slider {
    width: auto;
  }
}

section.featured .featured-event .content .featured-info {
  width: 35%;
  padding: 0 80px 0px 40px;
}

@media screen and (max-width: 1024px) {
  section.featured .featured-event .content .featured-info {
    width: auto;
    padding: 32px;
  }
}

@media screen and (max-width: 767px) {
  section.featured .featured-event .content .featured-info {
    padding: 24px;
  }
}

section.featured .featured-event .content .featured-info .heading {
  font-size: 20px;
  color: #436d82;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  margin-top: 0px;
}

section.featured .featured-event .content .featured-info h2 {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  section.featured .featured-event .content .featured-info h2 {
    font-size: 24px;
  }
}

section.featured .featured-event .content .featured-info .featured-para {
  font-size: 20px;
  color: #505050;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  section.featured .featured-event .content .featured-info .featured-para {
    font-size: 16px;
  }
}

section.featured .featured-event .content .featured-info .event-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 80px;
}

@media screen and (max-width: 1024px) {
  section.featured .featured-event .content .featured-info .event-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
  }
}

section.featured .featured-event .content .featured-info .event-btn .featured-button {
  font-size: 16px;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  border: solid 2px #773165;
  color: #773165;
  padding: 10px 35px;
  font-weight: bold;
}

section.featured .featured-event .content .featured-info .event-btn .featured-button:hover {
  background-color: #773165;
  color: #ffffff;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

@media screen and (max-width: 767px) {
  section.featured .featured-event .content .featured-info .event-btn .featured-button {
    font-size: 14px;
    padding: 8px 20px;
  }
}
/*# sourceMappingURL=styles.css.map */