body{
    margin: 0;
}

$purple : #773165;
$grey : #505050;
$black : #000000;
$light-blue : #436d82;
$white : #ffffff;

.container{
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    @media screen and (max-width:1024px) {
        padding: 0px;
        margin: 0 ;
    }
}

section.welcome{
    .welcome-washington{
        margin-top: 160px;
        @media screen and (max-width:1024px) {
           
            margin: 0 ;
        }
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:1024px) {
            flex-direction: column-reverse;
        }
        .text{
            padding: 0 32px;
            @media screen and (max-width:1024px) {
                padding: 32px;
            }
            @media screen and (max-width:767px) {
                padding: 24px;
            }
            .heading{
                font-size: 20px;
                color: $light-blue;
                font-style: italic;
                font-family: 'Playfair Display', serif;
                margin-top: 0px;
            }
            h2{
                font-size: 50px;
                font-family: 'Lato', sans-serif;
                margin: 0px;
                @media screen and (max-width:767px) {
                    font-size: 32px;
                }
            }
            .welcome-para{
                font-size: 20px;
                color: $grey;
                font-family: 'Lato', sans-serif;
                line-height: 1.4;
                margin-bottom: 30px;
                @media screen and (max-width:767px) {
                    font-size: 16px;
                }
            }
            .welcome-button{
                font-size: 16px;
                background-color: $white;
                font-family: 'Lato', sans-serif;
                border: solid 2px $purple;
                color: $purple;
                padding: 10px 35px;
                font-weight: bold;
                &:hover{
                    background-color: $purple;
                    color: $white;
                    transition: ease 0.4s;
                    
                }
                @media screen and (max-width:767px) {
                    font-size: 14px;
                    padding: 8px 20px;
                }
                
            }
        }
        .image{
            width: 400px;
            height: 400px;
            object-fit: cover;
            @media screen and (max-width:1024px) {
              width: 100%;
              height: 100%;
            }
        }
    }
}

section.featured{
    .featured-event{
        margin: 160px 0;
        @media screen and (max-width:1024px) {
           
            margin: 0 ;
        }
        .content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            @media screen and (max-width:1024px) {
                flex-direction: column-reverse;
            }

            .featured-slider{
                width: 65%;
                @media screen and (max-width:1024px) {
                    width: auto;
                }
            }

            .featured-info{
                width: 35%;
                padding: 0 80px 0px 40px;
                @media screen and (max-width:1024px) {
                    width: auto;
                    padding: 32px;
                }
                @media screen and (max-width:767px) {
                    padding: 24px;
                }
                .heading{
                    font-size: 20px;
                    color: $light-blue;
                    font-style: italic;
                    font-family: 'Playfair Display', serif;
                    margin-top: 0px;
                }
                h2{
                    font-size: 32px;
                    font-family: 'Lato', sans-serif;
                    margin: 0px;
                    @media screen and (max-width:767px) {
                        font-size: 24px;
                    }
                }

                .featured-para{
                    font-size: 20px;
                    color: $grey;
                    font-family: 'Lato', sans-serif;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    @media screen and (max-width:767px) {
                        font-size: 16px;
                    }
                }
                .event-btn{
                    display: flex;
                    flex-direction: row-reverse;
                    padding-right: 80px;
                    @media screen and (max-width:1024px) {
                        flex-direction: row;
                        padding: 0px;
                    }
                    .featured-button{
                        font-size: 16px;
                        background-color: $white;
                        font-family: 'Lato', sans-serif;
                        border: solid 2px $purple;
                        color: $purple;
                        padding: 10px 35px;
                        font-weight: bold;
                        &:hover{
                            background-color: $purple;
                            color: $white;
                            transition: ease 0.4s;
                            
                        }
                        @media screen and (max-width:767px) {
                            font-size: 14px;
                            padding: 8px 20px;
                        }
                        
                    }
                }
              
            }
        }
    }
}